
.navigation .prev-btn, .next-btn{
    height: 50px;
    width: 50px;
    margin: 10px;
    
   
}

.group__top{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


    .group__top-one{
        height: 100%;
        width: calc(50% - 5px);
        
        .group__top-one-img{
            overflow:hidden;
            img{
             
                background-position: center;
                background-size: auto;
                border: none;
         
                transition: 0.3s;
            

            }
            img:hover{
                transform: scale(1.05);
                cursor: pointer;
            }
        }
        .group__top-one-text{
            background:#EFEFF4; 
            height: 70px;
            p{
                // background: skyblue;
                // height: 30px;
                margin: auto 20px;
                color: #333;
                text-transform: uppercase;
            }
        }
    }


    
}








// ListProduct


.listProduct{
    .listProduct__h1{
        text-transform: uppercase;
    }
}

.next-slide, .pre-slide{
    height: 40px;
    width: 40px;
    background: #0000009a;
    color: #fff;
    position: relative;
    top: 37.5%;
    transition: 0.1s all ease-in;
    
  }
  
  .next-slide:hover{
    background: #000000d3;
  
  
  
  }.pre-slide:hover{
    background: #000000d3;
  
  
  }
  .next-slide{
    right: 57.5%;
  }
  .pre-slide{
    left: 57.5%;
  }
  .h1-title{
    text-transform: uppercase;
  }
  .hover-modal{
    height: 83.33%;
    transition: 0.3s all;
    background: #00000070;
  
  }
  
  .pre-slide{
    z-index: 1;
    // position: fixed;

  }

// ListBlog

.blog-image {
  height: 370px;
  background-size: cover;
  object-fit: cover; /* Để hình ảnh không bị méo khi co dãn */
}


